* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend", sans-serif;
}

button {
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

.heading-1 {
  font-weight: 900;
  font-size: 4rem;
  text-transform: capitalize;
}

.heading-2 {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: capitalize;
}

.heading-3 {
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: capitalize;
}

.heading-4 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 1.8rem;
}

.body-style-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.body-style-text--medium {
  font-weight: 500;
  line-height: normal;
}
.body-style-text--semibold {
  font-weight: 600;
  line-height: normal;
}

.label-style-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.label-style-text--small {
  font-size: 1.2rem;
  line-height: normal;
}
.label-style-text--medium {
  font-weight: 500;
  line-height: normal;
}
.label-style-text--semibold {
  font-weight: 600;
  line-height: normal;
}

.btn {
  line-height: 2.4rem;
  height: 4.8rem;
  padding: 1.2rem;
  border-radius: 10rem;
  color: #ffffff;
  background-color: #10b981;
  border: 1px solid #10b981;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  padding: 1.2rem 2.4rem;
}
.btn-icon--arrow {
  height: 2.4rem;
  width: 2.4rem;
}
.btn-primary-icon {
  padding: 1.2rem 2.4rem;
  border: 1px solid #10b981;
  gap: 0.8rem;
}
.btn--left {
  flex-direction: row-reverse;
}
.btn:hover {
  border: 1px solid #0b9567;
  background-color: #0b9567;
}
.btn--outline {
  background-color: transparent;
  color: #0b9567;
  border: 1px solid #0b9567;
}
.btn--outline:hover {
  background-color: #d1fae5;
  color: #0b9567;
  border: 1px solid #0b9567;
}
.btn--active {
  background-color: #d1fae5;
  border: #d1fae5;
  color: #10b981;
}
.btn--active:hover {
  border: none;
  background-color: #d1fae5;
}

.nav__link {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  height: 3.4rem;
  padding: 0.8rem 1.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.dropdown {
  position: absolute;
  z-index: 100;
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
  border: 1px solid #e0e3eb;
  margin-top: -3.4rem;
  width: 100%;
  z-index: -1;
  border-radius: 1.9rem;
}
.dropdown__icon {
  width: 1.6rem;
  height: 1.6rem;
  transform: rotate(90deg);
  transition: all 0.1s ease-in;
}
.dropdown__list {
  list-style: none;
  text-align: start;
  padding-top: 3.4rem;
  margin-left: -0.4rem;
}
.dropdown__list-item {
  padding: 0.4rem 1rem;
  margin: 1rem 1rem;
  color: #ffffff;
  display: block;
  border-radius: 2.8rem;
  cursor: pointer;
}
.dropdown__list-item:hover, .dropdown__list-item:focus {
  background-color: #10b981;
}
.dropdown:focus-within {
  outline: none;
}
.dropdown:focus-within .dropdown__content {
  display: block;
}
.dropdown:focus-within .dropdown__icon {
  transform: rotate(-90deg);
}

.label {
  height: 3.4rem;
  background-color: #ffffff;
  border-radius: 10rem;
  width: max-content;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.label--popular {
  background-color: #fee2e2;
  color: #ef4444;
}
.label--new-house {
  background-color: #dbeafe;
  color: #1d4ed8;
}
.label--best-deals {
  background-color: #d1fae5;
  color: #0b9567;
}
.label__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.input {
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 10rem;
  padding: 0.4rem;
  padding-left: 2.4rem;
  gap: 1.6rem;
  border: 1px solid #e0e3eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input input::placeholder {
  color: #888b97;
}
.input:focus {
  outline: none;
}

.search__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #f59e0b;
}
.search__box {
  background-color: transparent;
  border: none;
  line-height: 2.2rem;
  min-width: 24rem;
}
.search__box:focus {
  outline: none;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}
.email__error {
  color: #ef4444;
  padding-left: 2.8rem;
  padding-top: 0.8rem;
  position: absolute;
  visibility: hidden;
  transform: translateY(5rem);
}
.email__box:invalid:focus {
  border: 1px solid #ef4444;
}
.email__box:invalid:focus ~ .email__error {
  visibility: visible;
}

/*# sourceMappingURL=kit.css.map */
