@use "../sass/base" as *;
@use "../sass/typography" as *;

.btn {
  line-height: 2.4rem;
  height: 4.8rem;
  padding: 1.2rem;
  border-radius: 10rem;

  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &-primary {
    padding: 1.2rem 2.4rem;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;

    &--inverted {
      transform: rotate(180deg);
    }
  }

  &-primary-icon {
    padding: 1.2rem 2.4rem;
    border: 1px solid $color-primary;
    gap: 0.8rem;
  }

  &--left {
    flex-direction: row-reverse;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-primary-dark;
    background-color: $color-primary-dark;
  }

  &--outline {
    background-color: transparent;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;

    &:hover,
    &:focus {
      background-color: $color-primary-light;
      color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
    }
  }

  &--active {
    background-color: $color-primary-light;
    color: $color-primary;
    border: 1px solid $color-primary-light;

    &:hover,
    &:focus {
      border: 1px solid $color-primary-light;
      background-color: $color-primary-light;
    }
  }
}

.nav__link {
  color: $color-white;
  background-color: rgba($color-white, 0.1);
  border: 1px solid $color-white;
  border-radius: 10rem;
  height: 3.4rem;
  padding: 0.8rem 1.6rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  &:hover,
  &:focus {
    background-color: rgba($color-white, 0.2);
  }
}

.dropdown {
  position: relative;
  z-index: 100;
  display: inline-block;

  &__content {
    display: none;
    position: absolute;
    border: 1px solid $color-gray-1;
    margin-top: -3.4rem;
    width: 100%;
    z-index: -1;
    border-radius: 1.9rem;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(90deg);
    transition: all 0.1s ease-in;
  }

  &__list {
    list-style: none;
    text-align: start;
    padding-top: 3.4rem;
    margin-left: -0.4rem;

    &-item {
      padding: 0.4rem 1rem;
      margin: 1rem 1rem;
      color: $color-white;
      display: block;
      border-radius: 2.8rem;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: $color-primary;
      }
    }
  }

  &:focus-within,
  &:hover {
    outline: none;

    .dropdown__content {
      display: block;
      background-color: rgba($color-white, 0.2);
    }

    .dropdown__icon {
      transform: rotate(-90deg);
    }
  }
}

.label {
  height: 3.4rem;
  background-color: $color-white;
  border-radius: 10rem;
  width: max-content;

  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  &--popular {
    background-color: $color-danger-light;
    color: $color-danger;
  }

  &--new-house {
    background-color: $color-info-light;
    color: $color-info;
  }

  &--best-deals {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.section-label {
  color: $color-secondary;

  &::before {
    content: "";
    display: block;
    width: 3.2rem;
    height: 1px;
    background-color: $color-secondary;

    transform: translate(-4rem, 0.8rem);
  }
}

.section-label-top {
  color: $color-secondary;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 3.2rem;
    height: 1px;
    top: -30%;
    left: 50%;
    background-color: $color-secondary;

    transform: translate(-50%, 0);
  }
}

.input {
  background-color: $color-white;
  border-radius: 10rem;
  padding: 0.4rem;
  color: $color-black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $color-gray-1;

  input::placeholder {
    color: $color-gray-2;
  }

  &:focus {
    outline: none;
  }
}

.search {
  &__icon {
    margin-left: 2rem;
    height: 2.4rem;
    width: 2.4rem;
    color: $color-secondary;
    flex-shrink: 0;
  }

  &__box {
    width: 80%;
    margin: 0 1.6rem;
    background-color: transparent;
    border: none;
    line-height: 2.2rem;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }
  }
}

.recommended-card {
  display: flex;
  align-items: center;
  border-radius: 3.2rem;
  padding: 2.4rem;
  box-shadow: 0 1.1rem 2.8rem rgba(51, 51, 51, 0.6);
  background-color: $color-white;

  &__images-container {
    padding-right: 1.6rem;
    display: flex;
  }

  &__image {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 100%;
    border: 3px solid $color-white;
    box-shadow: 0 0.9rem 3.2rem #595cdb1a;

    &:not(:first-child) {
      margin-left: -3rem;
    }

    &--house {
      border-radius: 2.4rem;
    }
  }

  &__text-container {
    width: max-content;

    &__heading {
      color: $color-black;
    }

    &__subheading {
      color: #68799f;
    }
  }
}

.house-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-right: 3.2rem;
  min-width: 39rem;

  &__image {
    height: 38.2rem;
    object-fit: cover;
    border-radius: 2.4rem;
    object-fit: cover;
  }

  &__label {
    position: absolute;
    z-index: 10;
    top: 33.2rem;
    left: 1.6rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-title {
      color: $color-black;
    }

    &-price {
      color: $color-gray-3;
      font-weight: 500;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &-image {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
    }

    &-information {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    &-name {
      color: $color-black;
      line-height: 2.4rem;
    }

    &-location {
      color: $color-gray-2;
    }
  }
}

.review {
  width: 78.4rem;
  min-height: 50.5rem;
  margin-right: 3.2rem;

  overflow: hidden;
  cursor: pointer;

  position: relative;
  display: flex;
  justify-content: center;

  &__house-image-container {
    width: 100%;
    height: 42.9rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.8rem;
  }

  &__house-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  &__information {
    align-self: flex-end;
    z-index: 12;
    position: absolute;
    background-color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 61.2rem;
    padding: 3.2rem;
    gap: 2.4rem;
    border-radius: 1.6rem;

    box-shadow: 0 0 32px 0 rgba(#0c153717, 0.09);
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &-heading {
      color: $color-black;
    }

    &-text {
      color: $color-gray-3;
    }
  }

  &__user-container {
    display: flex;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;

    &-photo {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      margin-right: 1.6rem;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    &-name {
      color: $color-black;
    }

    &-job {
      color: $color-gray-2;
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    &-icon {
      color: $color-secondary;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.6rem;
    }

    &-number {
      color: $color-black;
    }
  }

  &:hover {
    .review__house-image {
      transform: scale(1.1);
    }
  }
}

.article {
  width: 58rem;
  display: flex;
  justify-content: flex-start;

  &__image {
    width: 20rem;
    height: 14.8rem;
    border-radius: 1.8rem;
    object-fit: cover;
    margin-right: 3.2rem;
  }

  &__right-side {
    padding: 0.8rem 0;
  }

  &__user {
    display: flex;
    flex-direction: row;
    height: 3.2rem;
    align-items: center;
    padding-bottom: 1.6rem;

    &-image {
      margin-right: 1.6rem;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 100%;
    }

    &-name {
      color: $color-dark-blue;
    }
  }

  &__title {
    color: #1b1c57;
    padding-bottom: 1.6rem;
    text-align: start;
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: $color-gray-2;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
