@use "base" as *;

.form {
  min-height: 59.2rem;
  display: flex;
  justify-content: space-between;

  &__left {
    margin-right: 3.2rem;
    width: 47.8rem;
    border-radius: 0.8rem;
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.8rem;

    box-shadow: 0 0.8rem 3.2rem rgba($color-black, 0.09);

    &__text-container {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    &__text {
      text-align: center;
      color: $color-gray-3;
    }

    &__break {
      align-self: center;
      width: 4rem;
      height: 0.2rem;
      border-radius: 0.4rem;

      border: 1px solid $color-primary;
    }

    &__logo-container {
      position: relative;
      height: 20.6rem;
      width: 26.1rem;
    }

    &__logo {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__right {
    width: 68.2rem;
    border-radius: 0.8rem;
    padding: 4rem;
    box-shadow: 0 0.8rem 3.2rem rgba($color-black, 0.09);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &-input-text {
      width: 49.6rem;
      padding: 1.6rem 2.4rem;

      &::placeholder {
        color: $color-gray-2;
      }
    }

    &-text-area {
      justify-self: flex-start;
      resize: none;
      border-radius: 2.8rem;
      overflow: auto;
      width: 49.6rem;
      height: 14.4rem;
      padding: 1.6rem 2.4rem;
      scrollbar-width: none;

      &::placeholder {
        color: $color-gray-2;
      }

      &-counter {
        position: absolute;
        top: 86%;
        right: 2%;
        transform: translate(-50%, -50%);

        color: $color-gray-2;
      }
    }
  }

  &__label {
    color: $color-black;
    width: 8.9rem;

    &-textarea {
      align-self: flex-start;
      padding-top: 1.5rem;
    }
  }
}

.select-box {
  padding: 0;
  width: 49.6rem;
  border-radius: 2.8rem;
  border: none;
  color: $color-gray-2;

  display: flex;
  flex-direction: column;
  position: relative;

  &__option {
    margin: 0.5rem 0.8rem;
    padding: 0.8rem 1.6rem;
    width: 97%;
    text-align: start;
    border-radius: 2.8rem;
    color: $color-black;

    & label {
      cursor: pointer;
    }
  }

  &__option .radio {
    display: none;
  }

  &__option:hover,
  &__option:focus {
    background: $color-primary-light;
  }

  &__options-container {
    cursor: pointer;
    border: 1px solid $color-gray-1;
    border-radius: 2.8rem;
    background-color: $color-white;
    padding-top: 5.5rem;
    z-index: 11;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    display: none;
    max-height: 0;
    transition: all 0.2s ease-in;
    order: 1;
  }

  &__options-container.active {
    max-height: 30rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
}

.selected {
  border: 1px solid $color-gray-1;
  color: $color-gray-2;
  border-radius: 2.8rem;
  z-index: 12;
  order: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2.4rem;
  justify-content: space-between;

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    right: 2rem;
    top: 25%;

    transform: rotate(90deg);
    transition: all 0.2s;

    cursor: pointer;
  }
}

.form__submit {
  margin-top: 1rem;
  margin-left: 9rem;
}

.form__checkbox {
  margin-top: 2.8rem;
  padding-left: 9rem;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
  }

  & + label::before {
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $color-primary;
    border-radius: 0.4rem;
    margin-right: 0.5em;
    background-color: transparent;
  }

  &:checked + label::before {
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }

  &__label {
    position: relative;
    color: $color-gray-3;
  }

  &:focus:not(:checked) + label::before {
    border-color: $color-primary-dark;
  }
}

.checkbox-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  color: $color-white;
  width: 1.6rem;
  height: 1.6rem;
}
